<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg bg-primary">
  <div class="container">
    <!-- Navbar brand -->
    <a class="navbar-brand" routerLink="/movies">Cinema Test Application</a>

    <!-- Collapse button -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a routerLink="/order" class="nav-link">Заказ билета</a>
      </li>
    </ul>
  </div>
</nav>
<div style="text-align:center">
  <router-outlet></router-outlet>
</div>



