<div class="container my-5">
  <div class="row">
    <div class="col-12">
      <h4 class="mb-3">Бронирование билетов</h4>
      <form [formGroup]="cinemaForm" class="form justify-content-center">
        <!--выбор серктора-->
        <mat-form-field class="col-6 mb-3">
          <mat-select id="sector" formControlName="sector" placeholder="Выбор сектора">
            <mat-option *ngFor="let sector of sectors" [value]="sector">
              {{ sector.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!--выбор категории-->
        <mat-form-field class="col-6 mb-3">
          <mat-select formControlName="category" placeholder="Выбор категории">
            <mat-option *ngFor="let category of categories" [value]="category">
             {{ category.about }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!--ряд-->
        <mat-form-field class="col-6 mb-3">
          <mat-select formControlName="line" placeholder="Выбор ряда">
            <mat-option *ngFor="let line of lines" [value]="line">
              {{ line.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!--место-->
        <mat-form-field class="col-6 mb-3">
          <mat-select formControlName="seat" placeholder="Выбор места">
            <mat-option *ngFor="let seat of seats" [value]="seat">
              {{ seat.seat }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="button-row justify-content-end">
          <button mat-raised-button color="primary" (click)="onSubmit()">Забронировать</button>
        </div>
      </form>
    </div>
  </div>
</div>
