/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.css";

.example-card {
  max-width: 400px;
}

mat-card {
  height: 430px;
}

.movie-card {
  width: 250px;
  max-width: 250px;
}
.mat-card-header .mat-card-title{
  min-height: 42px;
}
img {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.mat-form-field-infix {
  text-align: center;
  width: 500px !important;
}

